quip-512-mocha/
data/squad/
gdrive/
lib/
SQUAD1_valid_data.pt
SQUAD1_train_data.pt
squad_modified_for_t5_qg.zip
flanT5-base-finetuned_SQUAD1.pth
__pycache__/
google-chrome-stable_current_amd64.deb
._s2v_old
s2v_reddit_2015_md.tar.gz